<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alphatilesapps.alphatiles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".AlphaTilesApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.alphatilesapps.alphatiles.Start"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.alphatilesapps.alphatiles.ChoosePlayer"/>
        <activity android:name="org.alphatilesapps.alphatiles.SetPlayerName"/>
        <activity android:name="org.alphatilesapps.alphatiles.Earth"/>
        <activity android:name="org.alphatilesapps.alphatiles.About"/>
        <activity android:name="org.alphatilesapps.alphatiles.Brazil"/>
        <activity android:name="org.alphatilesapps.alphatiles.Colombia"/>
        <activity android:name="org.alphatilesapps.alphatiles.Ecuador"/>
        <activity android:name="org.alphatilesapps.alphatiles.Georgia"/>
        <activity android:name="org.alphatilesapps.alphatiles.Mexico"/>
        <activity android:name="org.alphatilesapps.alphatiles.Myanmar"/>
        <activity android:name="org.alphatilesapps.alphatiles.Peru"/>
        <activity android:name="org.alphatilesapps.alphatiles.Resources"/>
        <activity android:name="org.alphatilesapps.alphatiles.Romania"/>
        <activity android:name="org.alphatilesapps.alphatiles.Sudan"/>
        <activity android:name="org.alphatilesapps.alphatiles.Thailand"/>
        <activity android:name="org.alphatilesapps.alphatiles.UnitedStates"/>
    </application>

</manifest>
